<section class="card">
    <img
      class="card-img-top"
      src="https://media.istockphoto.com/photos/confectioner-decorating-chocolate-cake-closeup-picture-id1187830875?s=612x612"
      alt="Pastry Category"
    />
    <section class="card-body">
      <h5 class="card-title">Pâtisserie</h5>
      <p class="card-text">Fondant supreme</p>

      <button class="btn btn-primary"> Desc >> </button>

    </section>
    <ul class="list-group">
      <li class="list-group-item"> ad <span>[FIRST]</span> </li>
      <li class="list-group-item"> qui </li>
      <li class="list-group-item"> deserunt </li>
      <li class="list-group-item"> nulla </li>
      <li class="list-group-item"> cupidatat </li>
    </ul>
  </section>
  