<section class="card" *ngIf="pastrie">
    <img
      *ngIf="pastrie.url"
      class="card-img-top"
      src="{{ pastrie.url }}"
      alt="Pastry Category"
    />
    <section class="card-body">
      <h5 class="card-title">{{ pastrie.ref }}</h5>
      <p class="card-text">{{ pastrie.name }}</p>

      <button class="btn btn-primary"> Desc >> </button>
      <button
        class="btn"
        [ngClass]="{ 
          'btn-primary': !pastrie.choice,
          'btn-danger': pastrie.choice
        }"
        [disabled]="count && count === maxLike"
        (click)="preference(pastrie.id)"> 
        {{ pastrie.choice ? 'Unlike' : 'Like'}} 
      </button>

    </section>
    <ul class="list-group" *ngIf="ingredients.length > 0">
      <li class="list-group-item" *ngFor="let ingredient of ingredients">
        {{ ingredient }}
      </li>
    </ul>
  </section>
  